<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 언더스코어 → 카멜케이스 자동 매핑 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- DTO 클래스들이 위치한 패키지를 등록 -->
    <typeAliases>
        <package name="com.itwill.attendance.record" />
        <package name="com.itwill.approval.dto" />
    </typeAliases>

    

</configuration>